<div>
  <h1>
    Welcome to PokeDEX
  </h1>
  <div>
    <mat-card>
      <mat-card-header class="title">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="search" [(ngModel)]="term">
          <button mat-button *ngIf="term" matSuffix mat-icon-button aria-label="Clear" (click)="term=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class.loader-hidden="!show">
            <div class="loader-overlay">
                  <div>
                    <mat-progress-spinner mode="indeterminate" *ngIf="show==true "></mat-progress-spinner>
                  </div>
            </div>
        </div>
         <mat-card-title>All pokemon</mat-card-title>
      </mat-card-header>
      <mat-card-header class="pokemonok" *ngFor="let result of magicObs$ | async | filter: term">
      <mat-card-content >
        <mat-list dense>
          <mat-list-item  class="pokemons" (click)="onClickViewDetails(result)">
            <mat-card-title>  {{ result.name }} </mat-card-title>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <img src="{{result?.sprites?.front_default}}">
      <mat-card-content class="details">
        <p> Height: {{ result?.height }}</p>
        <p> Weight: {{ result?.weight }}</p>
      </mat-card-content>
      <mat-card-actions class="button">
        <a href="https://twitter.com/home?status=" ><button mat-button >SHARE</button> </a>
      </mat-card-actions>
    </mat-card-header>
        <mat-card-actions>
          <mat-paginator *ngIf="results"
            [length]="count"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="updatePagedItems($event)">
        </mat-paginator>

      </mat-card-actions>

    </mat-card>
  </div>
</div>

