h1{
  text-align:center;
}
.title{
  font-style: italic;
  font-size: -webkit-xxx-large;
  width: 90%;
}
.mat-list {
  margin: 15px;
  width: 185px;
  padding: 15px;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  width: 350px;
  text-align: center;
  margin: auto;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 350px;
}
.mat-input-element {
  caret-color: #03A9F4;
}

.loader-hidden {
  visibility: none;
  margin: auto;
}
.loader-overlay {
  position: absolute;
  width: 15%;
  top: 0;
  left: 0;
  opacity: 1;
  margin: 165px;
  margin-left: 47%;
  z-index: 500000;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.pokemonok {
  display: inline-grid;
  flex-direction: row;
  border: 1px solid black;
  margin: 15px;
  border-radius: 15px;
}
.details{
 text-align: center;
}
img{
  margin: auto;}
.button{
  margin-left: 15px;
}
.pokemons{
  text-align: center;
  margin-left: 15px;
}
